@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");

:root {
  --color-primary: #073827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: var(--color-primary);
  font-weight: 500;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

h1 {
  font-weight: 800;
  font-size: 2.1875em;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

header {
  height: 165px;
  padding: 45px 0;
}

header .flex {
  justify-content: space-between;
  height: 71px;
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.5625em;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

header .nav-links {
  display: flex;
  gap: 37px;
}

header .nav-link {
  line-height: 1.4;
}

header .nav-link.active {
  font-weight: 700;
}
