@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}
